@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    text-decoration: none;
}
.header3{
    display: flex;
    align-items: center;
   	text-align: center;
    justify-content: space-between ;
    padding: 20px 0;
    height: 100%;
}
.header3 ul{
	margin: 10px;
}
body{
    background-color: white;
    font-size: 14px;
}
.contenedor{
    max-width: 1100px;
    margin: auto;
}
.contenedor-logo{
    display: flex;
    align-items: center;

}
nav ul{
	
	margin-left: 30px; 
    display: flex;
    list-style: none;
	align-content: center;
	align-items: center;
	justify-content: center;
}
nav ul li{
    margin: 0 20px;
    align-content: center;
	align-items: center;
	justify-content: center;
}
nav ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    color: aquamarine;
}
.informacion{
    margin-top: 70px;/*Contenedor porincipal*/
 
 	display: flex;
 	flex-flow: row nowrap;
 	
}
.col{
	
	flex: 2 1 auto;
	margin: 10px auto;
	margin-left: 30px;
}
.col-imagen{
	
	flex: 3 1 auto;
	
}

.informacion .col{
    width: 100%;
}
.informacion .col h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}
.informacion .col p{
    color: #696969;
    max-width: 300px;
    line-height: 25px;
    margin-bottom: 30px;
}
.informacion .col button{
    background-color: #8C30F5;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.informacion .col button:hover{
    font-size: 14px;
}
.imagen-principal{

    background: #18191F;
  
}
.imagen-principal img{
    height: 100%;
    position: center;
    bottom: 30px;
    transition: .5s;
}
.imagen-principal:hover{
    transform: scale(.9);
    background-color: lightslategrey;
}
.imagen-principal:hover img{
    transform: scale(1.2);
}
.colum h2{
    font-size: 30px;
    margin-bottom: 15px;
  
}
.colum p{
    color: #696969;
    max-width: 300px;
    line-height: 25px;
    margin-bottom: 30px;
}
.rectangulo{
	
	margin-top: 10px;	
	display: flex
}

.colum{
	
	flex:2 1 auto;
}
.colum-imagen{
	
    flex:1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.logos{
	width: 110px auto;
	margin: 10px;
	display: flex;
	height: 120px auto;
} 

.servicios{
    background-color: #E4FFFF;
    display: flex;
    flex-flow:row wrap;
 
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 3px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.servicios img{
    flex: auto;
    
}
	.miTitulo{
		flex: 1 1 100%;
		font-size: 40px;
		
		
	}
	.opcion{
		flex: 1 1 auto;
		width: 200px;
		justify-content: center;
		text-decoration: none;
		
	}
	.opcion p{
		padding: 5px;
		margin-bottom: 5px;
	}
	
	.opcion h4{
	font-size: 20px;
		padding: 1px;
	}
	.opcion img{
		width: 100%;
  height: auto;
  display: block;
  padding: 10px;
	}


.piePage{
	width: 100%;
	background-color: #0a141d;
	text-align: center;
}

.piePage .grupo--1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}
.piePage .grupo--1 .box-footer figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.piePage .grupo--1 .box-footer figure img{
	width: 250px;
}

.piePage .grupo--1 .box-footer h2{
	color: #ffff;
	margin-bottom: 25px;
	font-size: 20px;
}

.piePage .grupo--1 .box-footer p{
	color:#efefef;
	margin-bottom: 10px;
}

.piePage .grupo--1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #ffff;
	margin-right: 10px;
	
	text-align: center;
	transition:  all 300ms ease;
}
.piePage .grupo--1 .red-social a:hover{
	color: aqua;
}

.piePage .grupo--2{
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: #ffff;

}
.piePage .grupo--2 small{
	font-size: 15px;
}

@media screen and (max-width: 800px) {
	.piePage .grupo--1{
		width: 90%; 
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0px;
	}
}

.anver{
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
	justify-content: center;
	flex-direction: row;
}
.centrarA{
	align-items: center;
	align-content: center;
	text-align: center;
}
.centrarA2{
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	
}
.centrarIMG{
	display: flex;	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.DetTit{
	justify-content: center;
	text-align: center;
	margin: 5px;
}










