<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Carrito | Solarsi</title>
<link rel="shortcut icon" type="image/png"
	th:href="@{/images/favicon.png}" />
<link rel="stylesheet" type="text/css"
	href="/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
	<div class="contenedor-global">
		<div class="contenedor">
			<!--Barra de Navegacion-->
			<header th:fragment="header-user" th:if="${sesion==null}">
			<div class="container-logo">
				<section id="logo">
					<img th:src="@{'/images/Dark.png'}" alt="Logo">
				</section>
			</div>
			<nav>
				<ul>
					<li><a href="/App/inicio">Inicio</a></li>
					<li><a href="/App/Productos">Productos</a></li>
					<li><a href="/App/Login">Login</a></li>
					<li><a href="#">¿Quiénes somos?</a></li>
					<li><a href="/App/CarritodeCompras">Carrito de Compras</a></li>
					
		<!--  		<li><a href="/App/AddProducto">Añadir P</a></li> -->	
				</ul>
			</nav>
		</header>
		
		<header th:fragment="header-user" th:unless="${sesion==null}">
			<div class="container-logo">
				<section id="logo">
					<img th:src="@{'/images/Dark.png'}" alt="Logo">
				</section>
			</div>
			<nav>
				<ul>
					<li><a href="/App/inicio">Inicio</a></li>
					<li><a href="/App/Productos">Productos</a></li>
					<li><a href="#">¿Quiénes somos?</a></li>
					<li><a href="/App/CarritodeCompras">Carrito de Compras</a></li>
					<li><div class="dropdown">
  <button class="dropbtn">USER</button>
  <div class="dropdown-content">
    <a href="/App/MisCompras">Mis compras</a>
        <a href="/App/cerrar">Cerrar Sesión</a>

    
  </div>
</div>
</li>
		<!--  		<li><a href="/App/AddProducto">Añadir P</a></li> -->	
				</ul>
			</nav>
		</header>
			<!-- FIN DE Barra de Navegacion-->

			<main>
				<div class="container">
				
					<div class="row mt-3">
					
						<div class="col">
							<h2 class="d-flex justify-content-center mb-3">Realizar
								Compra</h2>
								<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/App/Productos}">Productos</a></li>
			<li class="breadcrumb-item active"> Carrito</li>
		</ol>
							<form id="procesar-pago" action="#" method="post">



								<div id="carrito" class="form-group table-responsive">
									<table class="table" id="lista-compra" style="text-align: center;">
										<thead>
											<tr>
												<th scope="col">Imagen</th>
												<th scope="col">Nombre</th>
												<th scope="col">Precio</th>
												<th scope="col">Cantidad</th>
												<th scope="col">Sub Total</th>
												<th scope="col">Eliminar</th>
											</tr>

										</thead>
										<tbody>
									<tr th:each="order : ${cartera}">
												<td><img ></td>
												<td th:text="${order.nombre}"></td>
												<td th:text="${order.precio}"></td>
												<td th:text="${order.cantidad}"></td>
											 	<td th:text="${order.total}"> </td>
												<td class="red-social2"><a class="fa fa-trash" th:href="@{/App/delete/}+ ${order.id}" ></a></td>
											</tr> 
											
										</tbody>
										
										
								<!--		<tr>
											<th colspan="4" scope="col" class="text-right">SUB TOTAL
												:</th>
											<th scope="col">
												<p id="subtotal"></p>
											</th>
											<!-- <th scope="col"></th> 
										</tr>
										<tr>
											<th colspan="4" scope="col" class="text-right">IGV :</th>
											<th scope="col">
												<p id="igv"></p>
											</th>
											<!-- <th scope="col"></th>
										</tr>
										<tr>
											<th colspan="4" scope="col" class="text-right">TOTAL :</th>
											<th scope="col"><input id="total" name="monto"
												class="font-weight-bold border-0" readonly
												style="background-color: white;"></input></th>
											<!-- <th scope="col"></th>
										</tr>   -->

									</table>
									
									

									<!--  	<div th:text="${totalF.total}"></div>-->
								</div>
								
							</form>
							<div class="pago-container">
								<div class="container-pay">
								<div class="titulo-pay">
									<h4>Métodos de Pago:</h4>
									</div>

									<script src="https://www.paypal.com/sdk/js?client-id=test"></script>
									<script>
									
									paypal.Buttons({
										createOrder: function(data, actions){
											return actions.order.create({
												purchase_units: [{
													amount: {
														value: 100
													}
												}]
											});
										},
										onApprove: function(data, actions){
											window.location.href="/App/OrdenDetail"
										},
										
										onCancel: function(data, actions){
											alert("El pago fue cancelado")
										}
									}).render('div.container-pay');</script>
								</div>
								<div class="hijo-pago">
								<div class="one5">
								<div class="card bg-light mb-3" style="max-width: 18rem;">
										<div class="card-header" style="font-weight: 700; text-align: center;">SUBTOTAL</div>
										<div class="card-body">
											<h3 th:text="${TotalF.total}" style="text-align: center;" id="tt"></h3>
										</div>
									</div>
								</div>
									<div class="two5">
									<a href="/App/Productos" class="btn btn-info btn-block">Seguir
									comprando</a>
									<br>
									
									</div>
								</div>

					

							</div>
						</div>


					</div>

				</div>
			</main>
		</div>
	</div>
	<footer class="piePage">
		<div class="grupo--1">
			<div class="box-footer"><figure>
				<a href="#"><img src="/images/logo_sin_fondo.png" alt=""></a>
			</figure></div>
			<div class="box-footer">
				<h2>SOBRE NOSOTROS</h2>
				<p>Somos un grupo empresarial peruano con un proyecto innovador que consiste en implementar en una pagina web la venta, reparacion e instalacion de paneles solares en hogares, empresas, centros de estudios, etc. Para asi poder cubrir la necesidad de cualquier usuario y que pueda tener energia disponible cuando lo necesite, ya sea de noche o si la red electrica cae con frecuencia.</p>
			</div>
			<div class="box-footer">
				<h2>SIGUENOS</h2>
				<div class="red-social">
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-instagram"></a>
					<a href="#" class="fa fa-twitter"></a>
				</div>
		</div>
	</div>
	<div class="grupo--2"><small>&copy; 2022 <b>Solarsi</b> - Todos los derechos reservados</small></div>

	</footer>
	<script src="https://kit.fontawesome.com/94e06964eb.js" crossorigin="anonymous"></script>
</body>
</body>
</html>