<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
<title>Integrantes</title>
</head>
<body>

	<h1>Integrantes</h1>
	<div>
		<ul>
			<li>Victor Manuel Quispe Tacuri</li>
			<li>Ana Abigail Gonzalez Rengifho</li>
			<li>Nahum Selim Agurto Calderon</li>
			<li>Sebastian Gabriel Puma Beltran</li>
			<li>Bruno Alegria</li>
			
		</ul>
		
		<div>
			<p th:text="${prueba}"></p>
		</div>
	</div>
</body>
</html>